<main id="content" class="home" id="home">
	<section class="header">
		<h1>Mara Meier</h1>
		<p>
			<span class="desc" id="phrase">...</span> ░ <span class="byline"> multidiciplinary artist ░</span> 
			<!-- <a href="https://twitter.com/StockHuman">@stockhuman</a> -->
		</p>
	</section>
	<br>
	<section>
		<div class="row-full">
			<article class ="headsup" data-highlight="#000">
				<p headsup>
					If you are looking for my homework assignment for the 2018 <a href="http://www.ecal.ch/en/1084/studies/bachelor/fine-arts/presentation">bachelor of fine arts</a>' admission process of <a href="http://www.ecal.ch/en/100/homepage">&#233;cal</a>, go <a href = "/ecal">here</a>.
				</p>
			</article>
		</div>
	</section>
	<br>
	<section id="center-network" class=" network" style="position: relative; left: 10%; max-width: 80%">
				<a href="<%= items[7].link %>" class='home-item <%= items[7].class %>'>
						<div class="">
							<img src="<%= items[7].img %>" />
						</div>
						<% var srcTit = items[7].link.split("/");
							 var linkTitle = srcTit.pop();
							 linkTitle = linkTitle.replace(/-/g, ' ');
							 linkTitle = linkTitle.replace(/ae/g, 'ä');
						%>
						<div class="overlay">
							<h2><%= linkTitle %></h2>
							<h4><%= items[7].desc %></h4>
						</div>
		  </a>
	</section>




	<section class="grid">
		<%# Display the curated collection of links %>
		<% for ( var i = 8; i < items.length; i ++)  { %>
				<a href="<%= items[i].link %>" class='home-item <%= items[i].class %>'>
						<div class="hi-img">
							<img src="<%= items[i].img %>" />
						</div>
						<% var srcTit = items[i].link.split("/");
							 var linkTitle = srcTit.pop();
							 linkTitle = linkTitle.replace(/-/g, ' '); %>
						<div class="overlay">
							<h2><%= linkTitle %></h2>
							<h4><%= items[i].desc %></h4>
						</div>
	      </a>
		<% } %>
	</section>

	<article class="page">
		<p>Hello, I'm glad you've made it here.</p>
		<p>Make yourself at home. I made this <a href="/">site</a> for you, in order to show you my projects.
			Click on one of the logos above and chase the links!<br>
			<!-- I made this <a href="this-site">site</a> for you.  -->
			At some point in time, you will be able to find it in my <a href="projects/">works</a>, 
			where you can currently find the works for my 2018 portfolio.
			<!-- Also find some collected <a href="collection/">things of mine</a>. -->
			<!-- , and <a href="captcha">other</a> <a href="gamegen">stranger</a> <a href="life">stuff</a>.</p> -->
		<p>- Mara</p>
	</article>
	<script>
		(function () {
			const phrases = [
				'not an AI',
				'likes cats',
				'just got up',
				'still plays with lego',
				//'knows arrow functions!',
				//'more than an emoji',
				'just sipped on some coffee',
			]
			let phrase = phrases[Math.floor(Math.random() * phrases.length)]
			document.getElementById('phrase').innerHTML = '... ' + phrase;
		}())
	</script>

	<style type="text/css">
		.network {
			z-index: -1;
		}
		.headsup {
			z-index: 100;
		}
		article.headsup p {
			padding: 0 5rem 0 5rem;
			line-height: 1.5;
			font-size: 1.2727272727rem;
			background: rgba(202, 0, 0, 0.8);
			color: white !important;
		}
		.row-full{
			width: 100vw;
			position: relative;
			margin-left: -50vw;
			height: 100px;
			margin-top: 100px;
			left: 50%;
		   }
	</style>
	
</main>
